<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_mydatabase_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=mydatabase" />
        <add name="MyDemo.Properties.Settings.AIS20170527144859ConnectionString"
            connectionString="Data Source=KINGDEE;Initial Catalog=AIS20170527144859;Persist Security Info=True;User ID=sa;Password=123123"
            providerName="System.Data.SqlClient" />
        <add name="MyDemo.Properties.Settings.MydatabaseConnectionString"
            connectionString="Data Source=kingdee;Initial Catalog=Mydatabase;Persist Security Info=True;User ID=sa;Password=123123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>